@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Oxygen&display=swap");

$fontTitle: "Dosis", sans-serif;
$fontGeneral: "Oxygen", sans-serif;

$Primary: #82c9b8;
$Secondary: mix($Primary, lightgrey, 20%);

.logo {
  img {
    display: block;
    width: min(40vw, 300px);
    height: auto;
    margin: auto;
  }
}

body {
  padding: 15px;
  font-family: $fontGeneral;
}
h2 {
  text-align: center;
  font-family: $fontTitle;
  font-size: min(7vw, 45px);
  margin-top: 0;
}

h3{
  font-size: min(5vw, 25px);
}

p {
  font-size: min(4vw, 15px);
  margin-top: 0;
}

.newBook {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__field {
    display: flex;
    flex-direction: column;
    border: 0;
    input {
      margin-bottom: 10px;
      margin-top: 0;
      padding: 5px;
      font-size: min(3vw, 17px);
    }
    label {
      font-size: min(4vw, 21px);
    }
  }
}
svg :hover{
  cursor: pointer;
}

hr {
  margin-top: 6vw;
  margin-bottom: 6vw;
  border-top: 3px double $Primary;
  width: 0;
  animation: separator-width 1s ease-out forwards;
}

@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.searchResult {
display: flex;
flex-direction: column;
}

.button {
  width: 15em;
  height: 3em;
  background-color: $Primary;
  border: none;
  color: white;
  font-family: $fontGeneral;
  font-size: min(3.5vw, 17px);
  margin: 6px 2px;
  cursor: pointer;
  border-radius: 4px;
  &--new{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &:hover{
    background-color: darken($Primary, 20%);
  }
  &--cancel {
    background-color: rgb(250, 98, 78);
    &:hover {
      background-color: darken(rgb(250, 98, 78), 20%);
    }
  }
}

.books-Container {
  display: grid;
  gap: 10px;
  padding: 10px;
  @media screen and (min-width:600px) {
   grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width:1130px) {
    grid-template-columns: repeat(3, 1fr);
   }
}

.book {
  display: flex;
  flex-direction: column;
  background-color: lighten($Secondary, 10%);
  border: 1px solid black;
  padding: 15px;
  &__img {
    width: 75%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: auto;
  }
}

#no-result{
  text-align: center;
  color: darken($Secondary, 20%);
}
