@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Oxygen&display=swap");

$fontTitle: "Dosis", sans-serif;
$fontGeneral: "Oxygen", sans-serif;

$Primary: #82c9b8;
$Secondary: lightgrey;

.logo {
  img {
    display: block;
    width: 25%;
    height: auto;
    margin: auto;
  }
}

body {
  padding: 15px;
  font-family: $fontGeneral;
}
h1 {
  text-align: center;
  font-family: $fontTitle;
}

.newBook {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.form {
  display: none;
  flex-direction: column;
  width: 100%;
  &__field {
    display: flex;
    flex-direction: column;
    input {
      margin: 10px;
      padding: 5px;
    }
  }
}

//.searchResult {
 // display: none;
//}

.button {
  width: 15em;
  height: 3em;
  background-color: $Primary;
  border: none;
  color: white;
  font-family: $fontGeneral;
  font-size: 0.7rem;
  margin: 6px 2px;
  cursor: pointer;
  border-radius: 4px;
  &--cancel {
    background-color: rgb(250, 98, 78);
  }
}

.books-Container {
  display: grid;
  gap: 10px;
  padding: 10px;
  @media screen and (min-width:600px) {
   grid-template-columns: repeat(2, 1fr);
  }
}

.book {
  background-color: $Secondary;
  border: 1px solid black;
  padding: 15px;
  &__img {
    width: 75%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: auto;
  }
}
